:host {
  display: flex;
  flex-direction: column;
  height: 100%;

    /* crapy hack to have full-screen !!! */
    width: 1080px;
    margin-left: -190px;
}

.welcome-bar {
  position: absolute;
  top: 1em;
  right: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row h5 {
  font-size: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.columns {
  flex: 0 1 33%;
  height: 200px;
}

.app-launcher.is-running::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #8ac176;
  position: absolute;
  bottom: 10px;
  right: 7px;
  border: 2px solid #FFFFFF;
}