
:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background: #29252d;
  width: 100%;
  height: 25%;
  color: #FFFFFF;
}

.weather-time {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  font-size: 0.5em;
}
@media screen and (max-width: 350px) {
  .weather-time {
    padding: 0.25em;
  }
}
/*.weather-time .datetime span.day {*/
  /*font-size: 0.3em;*/
  /*text-transform: uppercase;*/
/*}*/
/*.weather-time .datetime span.time {*/
  /*font-size: 0.75em;*/
/*}*/
.weather-time span{
  padding: 3px;
}
.connections{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.connections a {
  color: #525252;
  font-size: 0.65em;
  padding: 3px;
}
.connections a.on {
  color: #FFFFFF;
}
