:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* crapy hack to have full-screen !!! */
    width: 1080px;
    margin-left: -190px;
}

.address {
    background-color: #fff;
    padding: 5px 15px;
    color: #333;
    width: 100%;
    display: block;
    text-align: left;
    margin: 0;
}