<app-header></app-header>
<main class="page-content">
    <div>
        <label>
            <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name">
        </label>
        <label>
            <select [(ngModel)]="language">
                <option selected="selected" disabled value="">{{"EVENT_EMMITER.SEL_LANG" | translate}}</option>
                <option value="ENG">ENG</option>
                <option value="FRA">FRA</option>
            </select>
        </label>
    </div>
    <div>
        <button (click)="triggerLogin()">{{"EVENT_EMMITER.EMIT_LOGIN" | translate}}</button>
        <button (click)="triggerLogout()">{{"EVENT_EMMITER.EMIT_LOGOUT" | translate}}</button>
    </div>
</main>
<app-footer></app-footer>